fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
pandas
openpyxl
requests
apscheduler
yfinance
gunicorn
slowapi
alembic
uvloop; sys_platform != 'win32'
httptools

